In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Import 4 datasets

In [2]:
def header_list(file_path:str):
    with open(file_path,'r') as f:
        lines = f.readlines()
        attributes = [line.split('(')[1].split(')')[0] for line in lines]
    return attributes
print(header_list('attribute.txt'))

['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'num']

In [3]:
# Read dataset
df_cleveland = pd.read_csv('Data_heath/processed.cleveland.data',header=None)
df_hungarian = pd.read_csv('Data_heath/processed.hungarian.data',header=None)
df_switzerland = pd.read_csv('Data_heath/processed.switzerland.data',header=None)
df_va = pd.read_csv('Data_heath/processed.va.data',header=None)

# Mapping header_names
df_cleveland.columns = header_list('attribute.txt')
df_hungarian.columns = header_list('attribute.txt')
df_switzerland.columns = header_list('attribute.txt')
df_va.columns = header_list('attribute.txt')

df_hungarian.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0

# Data exploratory

In [9]:
def fill_mising_data(data):
    """
    Function use to automatic fill missing data for all columns
    """

    columns = data.columns
    for col in columns:
        df = data[col]
        df=pd.to_numeric(df)
        df=df.fillna(df.mode())
    return data


df_cleveland = fill_mising_data(df_cleveland)
df_hungarian = fill_mising_data(df_hungarian)
df_switzerland = fill_mising_data(df_switzerland)
df_va = fill_mising_data(df_va)

ValueError: Unable to parse string "?" at position 166